<h2>Welcome to you dashboard <%= current_user.name %></h2> 

<div class="row">
	
	<div class="span4">
		
		<%= render 'shared/feed' %>
	</div>
	<div class="span4">
		
		<%= render 'layouts/form' %>
	</div>
</div>
<div class="row">
	<div class="span6">
		<% if can? :manage, @user %>
			<%= link_to "Create new user", users_create_path %>
		<% end %>
	</div>

	<div class="span4">
		<%= render 'shared/feedall' %>
	</div>
</div>

<% if can? [:delete, :update], @user %>
<div class="row">
	<div class="span6">
		<h1>All users</h1>
		<ul class="users">
		  <% @users.each do |user| %>
		    <li>

		      <%= link_to user.name, user %>
		      <%= link_to "edit", edit_user_path(user) %>
		      <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, title: user.name %>

		    </li>
		  <% end %>
		</ul>

	</div>
</div>
<% end %>

<div>
<p>Search field: </p>
<%= form_for @uploads do |search| %>
	<%= search.label :tag_list, "Tags (seperated by commas)" %>
	<%= search.search_field :tag_list %>
	<%= search.submit "Search" %>
<% end %>
</div>