<%= provide(:title, 'Edit user') %>

<h1>Edit user</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for(@user) do |u| %>

  <div><%= u.label :name %><br />
  <%= u.text_field :name %></div>
  
  <div><%= u.label :email %><br />
  <%= u.email_field :email, :autofocus => true %></div>

  <div><%= u.label :password %><br />
  <%= u.password_field :password %></div>

  <div><%= u.label :password_confirmation %><br />
  <%= u.password_field :password_confirmation %></div>

  <div><%= u.submit "Create User" %></div>
<% end %>