
 
<tbody>
  <tr>
    <td>
      <span class="feed_item"><%= link_to feedall_item.document_file_name, feedall_item.document.url, :target => "_blank"  %>
      </span>
    </td>
    
    <td>
      <span class="timestamp">
        <%= time_ago_in_words(feedall_item.created_at) %> ago.
      </span>
    </td>

    <td>
      <span class="user">
        <%= feedall_item.user.name %>
      </span>
    </td>

    <td>
      <% if can? :delete, feedall_item %>
      <%= link_to "delete", feedall_item, method: :delete, data: { confirm: "You sure?" }, title: feedall_item.document_file_name, class: "btn btn.danger" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      <small>
      	Tags: <%= raw feedall_item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </small>
    </td>
  </tr>
</tbody>