<caption>Upload a document</caption>
<div class="uppladdare">

<%= form_for @uploads, :html => { :multipart => true } do |f| %>
	<p id="choose_file">
		<%= f.file_field :document %>
	</p>
	<p>
		<%= f.label :tag_list, "Tags (seperated by commas)" %>
		<%= f.text_field :tag_list %>
		<%= f.submit "Submit", class: "btn btn-info" %>
	</p>
	
<% end %>
</div>